.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.pop-up {
  background-color: #282c34;
  border: 1px solid  #5a6681;
  padding: 3vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: solid;
  width: 60vh;
  top: 48vh;
  align-items: center;
}

button {
  background-color: #1e2229;
  color: white;
}

